/* Header.css */
.header {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    color: #ffad78;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #c1c4e3;
    z-index: 1000;
  }
  
  .game-title {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
  }
  